.footer {
  /* background: linear-gradient(
    90deg,
    #1b0505,
    #2d0909,
    #1b0505
  ); */
  background: linear-gradient(135deg, #3B0A0A 0%, #7A2A00 50%, #ca8f21 100%);
  
  color: #fff;
  padding-top: 30px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
  gap: 40px;
}

@media(min-width:992px){
    .footer-col{
        text-align: left;
    }
  
}

.footer-col h4 {
  color: #f8c100;
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-logo {
  width: 120px;
  border-radius:6px;
  margin-bottom: 15px;
}

.footer-col p,
.footer-col li {
  color: #ddd;
  font-size: 15px;
  line-height: 1.8;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 30px;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #ddd;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #f8c100;
}

.social-icons-foot {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  margin-top: 15px;
}

@media (max-width: 991px) {
  .footer-col {
    text-align: center;
  }

  .social-icons-foot {
    justify-content: center;
  }

  .footer-logo {
    display: block;
    margin: 0 auto;
  }
}







.social-icons-foot a {
  width: 35px;
  height: 35px;
  background: #f8c100;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.newsletter {
  display: flex;
  margin-top: 15px;
}

.newsletter input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}

.newsletter button {
  border: none;
  background: #f8c100;
  color: #000;
  font-weight: 600;
  padding: 10px 15px;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.15);
  margin-top: 35px;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.footer-bottom p {
  margin: 0;
  font-size: 15px;
  color: #ccc;
}

@media(max-width:992px){
  .footer-grid{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width:768px){
  .footer-grid{
    grid-template-columns: 1fr;
    text-align:center;
  }
  
 

  .newsletter{
    /* flex-direction:column; */
    gap:10px;
  }

  .footer-bottom{
    flex-direction:column;
    gap:10px;
    text-align:center;
  }
}

.foot-icons{
    color: #f8c100;
    font-size: large;
    margin-right: 3px;
}

