.Photo-gallery-section{
    margin-top: 1cm;
}


.photos-container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #333; */
    border-radius: 20px;
}
.photos-container{
    animation: galleryFade 0.3s ease;
}

.gallery-buttons{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.gallery-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px 15px;
    background-color: transparent;
    color: #333;
    border: 1px solid #dacfcf;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
    white-space: nowrap;
    width: 100%;
    text-decoration: none;
}

.gallery-btn:hover{
    
    border-color: rgb(235, 162, 26);
    color:rgb(235, 162, 26);
   
}


.gallery-btn.active {
  color:  rgb(235, 162, 26) !important;
  border-color:  rgb(235, 162, 26) !important;

}



@media(max-width:768px){


    .gallery-buttons{
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .gallery-btn{
        padding: 8px 10px;
        font-size: 11px;
    }
   
}


.pics-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.pics{
    background:#fff;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.pics img{
    width:100%;
    height:300px;
    display:block;
    object-fit:cover;
}


.pics h5{
    text-align:center;
    padding:10px;
    margin:0;
}

@media(max-width:768px){
    .pics-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .pics img{
    width:100%;
    height:auto;
    display:block;
    object-fit:cover;
}

}

@media(max-width:480px){
    .pics-grid{
        grid-template-columns:1fr;
    }
}