.politicalPulse{
padding:60px;
background:
#fff9e6;
}
.pulseTitle{
text-align:center;
margin-bottom:40px;
}
.pulseTitle h1{
font-size:50px;
font-weight:800;
color:
#003366;
}
.pulseTitle span{
color:
#ffd700;
}
.pulseTitle p{
font-size:20px;
color:#666;
}
.heroSection{
display:grid;
grid-template-columns:35% 65%;
gap:30px;
align-items:center;
background-image: url("../assests/leader2.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 10px;
}


/* LEFT */
.leftSide{
position:relative;
display:flex;
flex-direction:column;
align-items:center;
}
.leaderGlow{
position:relative;
width:420px;
height:420px;
border-radius:50%;
/* background:
radial-gradient(
circle,
#ffd700,
transparent
); */
filter:blur(25px);
}
.leftSide img{
width:420px;
border-radius: 20px;
position:relative;
z-index:10;
}
.leaderName{
background:
#ffd700;
padding:18px;
width:90%;
z-index:20;
text-align:center;
border-radius:18px;
}
.leaderName h3{
color:#a51414;
}
.leaderName p{
color:
#222;
margin-top:10px;
}
/* RIGHT */
.cardsGrid{
display:grid;
grid-template-columns:
repeat(3,1fr);
gap:20px;
}
.card{
background:#fff;
padding:15px;
border-radius:20px;
box-shadow:
0 10px 25px
rgba(0,0,0,.1);
transition:.3s;
}
/* .card:hover{
transform:
translateY(-10px);
} */
.icon{
width:60px;
height:60px;
border-radius:50%;
background:
#ffd700;
display:flex;
align-items:center;
justify-content:center;
margin-bottom:20px;
}
.icon svg{
font-size:28px;
color:
#003366;
}
.card h3{
margin-bottom:15px;
color:
#003366;
}
.card ul{
padding-left:25px;
}
.card li{
margin-bottom:10px;
    text-align: left;
}
/* BLUE BAR */
.statsBar{
margin-top:40px;
background:
#ffd700;
border-radius:25px;
padding:10px;
display:grid;
grid-template-columns:
repeat(5,1fr);
}
.stat{
text-align:center;
color:#a51414;
}
.stat svg{
font-size: 50px;
border-radius: 50%;
padding: 7px;
border: 2px solid #eee;
color: #003366;
}
.stat h2{
font-size:35px;
margin:10px 0;
}
/* TABLET */
@media(max-width:992px){
.heroSection{
grid-template-columns:1fr;
}
.cardsGrid{
grid-template-columns:
repeat(2,1fr);
}
.statsBar{
grid-template-columns:
repeat(2,1fr);
gap:20px;
}
}
/* MOBILE */
@media(max-width:768px){
.politicalPulse{
display: none;
}
.pulseTitle h1{
font-size:42px;
}
.leftSide img{
width:280px;
}
.cardsGrid{
grid-template-columns:1fr;
}
.statsBar{
grid-template-columns:1fr;
padding:20px;
}
}

@media(max-width:991px){
.politicalPulse{
display: none;
}
}

.stat p{
    color: #222;
}